h1{
    display: inline;
    top: 0%;
}
button{
    display: inline-block;
}
.buttonGroup1{
    display: block;
}
.buttonGroup2{
    display: inline;
    margin-left: 10px;
}
#postsH1{
display: inline;
margin-top: 10px;
}
li{
    display: inline;
}
#div100{
    display: block;
}