/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
body{
  background-image: linear-gradient(red, purple);
  height: 100vh;
  padding: 0%;
  margin: 0%;
}

.start{
  background-color: red;
  display: block;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  text-align: center;

  
}
.startBtn{
outline: none;
border: none;
background-color: purple;
color:lightblue;
border-radius: 10%;  
height: 50px;
width: 150px;
font-size: x-large;
}

h1{
  font-size: 50px;
}

table{
  
  background-color: black;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 10px;
}

th, td {
  background-color: blue;
  border: 1px solid black;
  width: 125px;
  height: 70px;
}

th{
  color: white;
}

td{
  font-size: large;
  color: orange;
  height: 100px;
}

.slide{
  transition: linear, 2s;
  transform: translateY(-110vh);
}

.restartBtn{
  outline: none;
  background-color: purple;
  color:lightblue;
  border-radius: 10%;  
  height: 50px;
  width: 150px;
  font-size: x-large;
  margin: 10px;
  border: 20px, solid, lightblue;

  display: block;
  position: relative;
  
}